[submodule "engines/nano-vllm"]
	path = engines/nano-vllm
	url = https://github.com/GeeeekExplorer/nano-vllm.git
[submodule "engines/nano-vllm-v1"]
	path = engines/nano-vllm-v1
	url = https://github.com/junuxyz/nano-vllm-v1.git
